html {
  display: flex;
  height:100vh;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  background: #222;
}

body {
  position: absolute;
  width: 59rem;
  height: 6rem;
  top: 50%;
  display: block;
  background-image: url("https://jdev-coder.github.io/funni/cooltext409390324524857.png");
}

head {
  border: 5px solid #ffff;
  position: absolute;
  top: 50px;
  height: 16rem;
  width: 12rem;
  display: block;
  background-image: url("https://c.tenor.com/yheo1GGu3FwAAAAM/rick-roll-rick-ashley.gif"); 
}
