@keyframes lol {
  from {background-color: black;}
  to {background-color: orange;}
}

body {
  background-color: black;
  animation-name: lol;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

head {
  background-image: url("https://c.tenor.com/yheo1GGu3FwAAAAM/rick-roll-rick-ashley.gif"); 
}
