@keyframes lol {
  from {background-color: black;}
  to {background-color: blue;}
}

body {
  background-color: black;
  animation-name: lol;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
